.md-card {
  width: 45vw;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}

.chart{
  min-width:800px;
}

.plus-button-first {
  position: absolute;
  bottom: 80px;
  right: 0; 
}

.plus-button-first-text {
  position: absolute;
  color:orangered;
  cursor: default;
  bottom: 85px;
  right: 80px; 
}

.plus-button-second {
  position: absolute;
  bottom: 0;
  right: 0; 
}

.plus-button-second-text {
  position: absolute;
  cursor: default;
  color:orangered;
  bottom: 5px;
  right: 80px; 
}

.main-content {
  width: calc(40vw - 75px);
}

.options-content {
  width: 70px;
  cursor: pointer;
}

.content-line {
  width: 100%;
  text-align: left;
}

.points {
  text-align: center;
  margin: auto;
}

.points-content {
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  align-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.element {
  margin: 5px;
}

.inline {
  display: inline-block;
}

@media (max-width: 700px) {
  .md-card {
    width: 90vw;
  }
  .main-content {
    width: calc(80vw - 75px);
  }
}

.flex-container {
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  align-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.graph-element {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.graph-info {
  width: 25vw;
}

.graph-content {
  width: 70vw;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.pie-chart {
  width: 34vw;
}

.bar-graph {
  width: 34vw;
}

.md-primary {
  background: #4d7ef7;
  color: #fff !important;
  padding: 10px 80px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.list-title {
  background: #ededed;
}

.list-title .md-list-item-text {
  color: #101a21;
  font-size: 18px;
}

.md-title {
  font-style: italic;
}